.intro{
    padding-left:30px;
    text-indent: 20px;
    text-align: justify;
    font-family: Poppins;
}
.about-avatar img {
    height: 100px;
    width: 100px;
    border-bottom:8px solid;
    border-color:  var(--primary-default);
}
@media (min-width: 320px) and (max-width: 1023px) {
    .intro{
        padding-left:0px;
    }
    .right-column{
        padding: inherit;
    }
    .hero-head{
        background: none;
        width: 100%;
        background-size: cover;
    }
    .hero-bg{
        margin: 2rem auto;
    }
}
