.scroll-to-home {
    position: absolute;
    bottom: 60px;
    margin: 0 auto;
    z-index: 100;
    padding:10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}
@media (min-width: 320px ) and (max-width: 1023px) {
    
    .scroll-to-home{
        background: rgba(211, 211, 211, 0.856);
    }
    
}