.inline-list{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.nav-active{
    background: var(--background-default);
    color:var(--primary-default) !important;
}
.navbar{
    height: 70px;
    overflow: visible;
}
.nav-logo{
    height: auto;
    width: 83px;
}