.scroll-to-top {
    position: fixed;
    bottom: 35px;
    right: 15px;
    opacity: 0;
    background: rgb(75, 67, 67,.5);
    color: white;
    border:2px solid white;
    transition: all .2s ease-in-out;
}
.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}
@media (min-width: 320px ) and (max-width: 1023px) {
    
    .scroll-to-top{
        bottom: 15px;
        left: 15px;
        width: 35px;
        font-size: x-small;
        background: rgba(211, 211, 211, 0.856);
        z-index: 2;
    }
    
}