.scroll-to-top {
    margin: 0 0 5px;
    position: fixed;
    bottom: 10px;
    right: 35px;
    display: flex;
    opacity: 0;
    padding:10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}
.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}
@media (min-width: 320px ) and (max-width: 1023px) {
    
    .scroll-to-top{
        bottom: 15px;
        left: 15px;
        width: 35px;
        font-size: medium;
        background: rgba(211, 211, 211, 0.856);
        z-index: 2;
    }
    
}