<div class="is-hidden-desktop">
    <app-exibicao-candidato  [Candidato]="Candidato"></app-exibicao-candidato>
    <div class="container pt-6">
        <mat-tab-group>
            <mat-tab class="my-mat-tab">
                <ng-template mat-tab-label class="my-mat-tab">
                    Quem <wbr> Sou
                </ng-template>
                
                <div class="container" data-aos="zoom-in-down" id="inicio">
                    <quem-sou [Candidato]="Candidato"></quem-sou>    
                </div>
            </mat-tab>
            <mat-tab class="my-mat-tab">
                <ng-template mat-tab-label class="my-mat-tab">
                    O que <wbr> penso
                </ng-template>
                
                <div class="" data-aos="zoom-in-down" id="sobre">
                    <oque-penso [Candidato]="Candidato" [Ideais]="Ideais"></oque-penso>
                </div>
            </mat-tab>
            <mat-tab class="my-mat-tab">
                <ng-template mat-tab-label class="my-mat-tab">
                    O que <wbr> realizei
                </ng-template>
                <div class="" data-aos="zoom-in-down">
                    <experiencia-trabalho [Candidato]="Candidato"></experiencia-trabalho>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>