.project-single{
    margin-top:1rem;
    padding-top:1rem;
}
.section-head{
    padding-top:1rem;
    color: gray;
}
.section-head h2 {
    padding: 0;
}
.lke-btn{
    /* margin-bottom: -10px; */
    position: absolute;
    right: 10px;
    left: initial !important;
    /* margin-left: 60%; */
    padding: 10px;
    color: var(--primary-default);
    top: -35px;
    z-index: 2;
    background: var(--background-default);
    border-radius: 38%;
    transition: 1s all;
    cursor: pointer;
}
.gostou{
    color:blue;
}

.portfolio-item--img img {
    border-radius: 30px;
    overflow: hidden;
    display: block;
}
.portfolio-item--desc {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.25);
    border-left:5px solid;
    border-left-color: var(--primary-default);
    border-radius: 30px;
    text-align: center;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.portfolio-item--content:hover .portfolio-item--desc {
    opacity: 1;
    visibility: visible;
}
:host ::ng-deep .mat-ripple-element {
    z-index:-1 !important;
    max-width: 0;
    display: none;
  }
.relative{
    position: relative !important;
} 