<div class="intro">
  <div class="intro-text" data-aos="zoom-in-down">
    <h1>{{Mensagens?.DescricaoCurta}}</h1>
    <div class="about-avatar mt-3">
      <img src="/assets/imagens/fundos/inicio/Candidato-perfil.jpg" alt="" class="img-fluid mx-auto d-block shadow-lg rounded-full">
    </div>
    <p>{{Mensagens?.Descricao}}</p>
    <a routerLink="/propostas" routerLinkActive="Active"
      class="btn-contact button is-success wow fadeInDown" data-wow-delay=".6s">Veja
      suas propostas</a>
  </div>
</div>