.intro{
    margin-top: 100px;
}
.intro{
    text-align: justify;
    font-family: Roboto;
}
.intro-text{
    margin-bottom: 70px;
}
.about-avatar img {
    height: 150px;
    width: 150px;
    margin-left: 40%;
    margin: 0 auto;
    border-bottom:8px solid;
    border-color:  var(--primary-default);
}
.btn-contact{
    background: var(--primary-default);
    color:white;
}


.intro .intro-text h4 {
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}

.intro .intro-text h1 {
	font-family: Roboto;
	font-size: 42px;
	font-weight: 600;
	letter-spacing: -2px;
	line-height: 1.2;
	margin: 0 0 15px 0;
}

.intro .intro-text p {
	font-weight: 400;
	/* color: #A1A1A1; */
	letter-spacing: 0px;
	line-height: 1.5;
	margin: 0 0 20px 0;
}


.intro .intro-text h3 {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 600;
	color: #434343;
	text-transform: uppercase;
	letter-spacing: 0;
	line-height: 1.2;
	margin: 50px 0 30px 0;
}

.intro .intro-text a {
	display: inline-block;
	margin-right: 15px;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .intro{
        padding-left:0px;
    }
    .right-column{
        padding: inherit;
    }
    .hero-head{
        background: none;
        width: 100%;
        background-size: cover;
    }
    .hero-bg{
        margin: 2rem auto;
        /* background:#141828; */
    }
}