.intro{
    margin:15px;
    margin-top: 70px;
}
.intro-text{
    font-family: Poppins;
}
.about-avatar img {
    height: 100px;
    width: 100px;
}
@media (min-width: 320px) and (max-width: 1023px) {
    .intro{
        padding-left:0px;
    }
    .right-column{
        padding: inherit;
    }
    .hero-head{
        background: none;
        width: 100%;
        background-size: cover;
    }
    .hero-bg{
        margin: 2rem auto;
        /* background:#141828; */
    }
}