<div class="intro">
  <div class="intro-text" data-aos="zoom-in-down">
    <h4 class="wow fadeInDown" data-wow-delay="0.4s">{{Mensagens?.DescricaoCurta}}</h4>
    <h1 class="wow fadeInDown" data-wow-delay=".5s">{{Candidato?.Nome}}</h1>
    <div class="about-avatar mt-3">
      <img src="{{Candidato.FotoPerfil}}" alt="" class="img-fluid mx-auto d-block shadow-lg rounded-full">
    </div>
    <p class="wow fadeInDown" data-wow-delay="0.6s">{{Mensagens?.Descricao}}</p>
    <a routerLink="/propostas" routerLinkActive="Active"
      class="btn-contact button is-success wow fadeInDown" data-wow-delay=".6s">Veja
      suas propostas</a>
  </div>
</div>