<section class="section">
    
    <div class="about-desc text-center mt-5">
						
        <div class="mt-4" data-aos="flip-right">
            <h1 class="font-weight-light">Olá, sou Nome Candidato</h1>
    
            <h3 class="mt-4">Lorem &amp; ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
        </div>
        <ul class="about-social mb-0 list-inline my-5" data-aos="flip-left">
            <li class="list-inline-item">
                <a href="#" class="downloadCV">
                    <i class="fas fa-download"></i>
                    <span>Baixar CV</span>
                </a>
            </li>
            <li class="list-inline-item">
                <fa-icon [attr.icon]="faTwitter"></fa-icon>
            </li>
            <li class="list-inline-item">
                <fa-icon [attr.icon]="faInstagram"></fa-icon>
            </li>
        </ul> 
    
        <div class="about-desc-more text-left b-box"  data-aos="slide-up">
            <div class="columns is-desktop">
                <div class="column">
                    <div class="about-desc-info">
                        <b>De :</b>
                        <span>Candidato.Cidade</span>
                    </div>
                </div>
                <div class="column">
                    <div class="about-desc-info">
                        <b>Idade :</b>
                        <span>Candidato.Idade</span>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="about-desc-info">
                        <b>Telefone :</b>
                        <a href="tel:Candidato.Telefone">Candidato.Telefone</a>
                    </div>
                </div>
                <div class="column">
                    <div class="about-desc-info">
                        <b>Email :</b>
                        <a href="mailto:hello@beingeorge.com">Candidato.Email</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</section>