<section class="section">
    
    <div class="about-desc text-center mt-5">
						
        <div class="mt-4">
            <h1 class="font-weight-light">I'm Alice Joseph</h1>
    
            <h3 class="mt-4">Passionate designer &amp; developer who loves simplicity in things and crafts beautiful user interfaces with love.</h3>
        </div>
        <ul class="about-social mb-0 list-inline my-5">
            <li class="list-inline-item">
                <a href="#" class="downloadCV">
                    <i class="fas fa-download"></i>
                    <span>Download CV</span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-dribbble"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-skype"></i></a>
            </li>
        </ul> 
    
        <div class="about-desc-more text-left b-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-desc-info">
                        <b>From :</b>
                        <span>Miami, FL</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-desc-info">
                        <b>Age :</b>
                        <span>19</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-desc-info">
                        <b>Phone :</b>
                        <a href="tel:0987654321">098-765-4321</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-desc-info">
                        <b>Email :</b>
                        <a href="mailto:hello@beingeorge.com">hello@beingeorge.com</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</section>