.box{
    min-height: 152px;
}
a.downloadCV {
    width: auto;
    line-height: 47px;
    padding: 0 20px;
}
a {
    display: block;
    border-radius: 30px;
    background: #1c1f2f;
    height: 50px;
    width: 50px;
    font-size: 22px;
    line-height: 52px;
    color: #fff;
    border: 1px solid #2e344d;
}
span{
    color: #fff;
}