<div class="contact-section"  data-aos="fade-down">
    <div class="col-md-12">
        <h1 class="wow fadeInDown" data-wow-delay="0.5s">Entre em contato</h1>
        <p class="wow fadeInDown" data-wow-delay="0.6s">
           {{InformacoesContato?.MensagemDeContato}}
        </p>
        <div class="contact-form " data-aos="fade-down">
            <form id="contact-form">
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_email">Email *</label>
                                <input id="form_email" type="email" name="email" class="form-control"
                                    placeholder="Por favor, insira o seu e-mail *" required="required"
                                    data-error="Insira um e-mail válido.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_message">Mensagem *</label>
                                <textarea id="form_message" name="message" class="form-control"
                                    placeholder="Mensagem para mim *" rows="4" required="required"
                                    data-error="Deixe sua mensagem."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success btn-send" value="Enviar">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>