.portifolio-filter{
    margin-top: -22px;
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.section-head{
    margin-top:50px;
}
.section-head h2 {
    padding: 0;
}
.shuffle-item{
    position: absolute; top: 0px; left: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1; transition: transform 250ms ease-out 0s, opacity 250ms ease-out 0s;
}
.projetos-desktop{
    max-height: 100vh;
    overflow: scroll;
    width: 70%;
}
.container-projeto{
    min-width: 50%;
}
.btn-sugestao{
    background: var(--primario-default);
    color: white;
    font-size: medium;
    padding: .5rem;
    border-radius: 10px;
    text-transform: capitalize;
}
.portfolio-container-desktop{
    max-height: 80vh;
    overflow: scroll; 
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}
.filter a.active {
    border-color: #5493f7;
    color: #333;
}
.text-black {
    color: #0000!important;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.filter a {
    padding: 10px 25px;
    display: block;
    cursor: pointer;
    text-transform: capitalize;
    border-bottom: 4px solid transparent;
}

:host ::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

:host ::ng-deep .mat-expansion-panel-header {
    height: auto;
 }