<a [ngClass]="EstadoNav.pagina == Opcao.Link? 'active' : ''"  (click)="ChangeToThis()" routerLink="/{{Opcao.Link}}" routerLinkActive="Active" class="py-3 pl-4 px-2 nav-icon media">
    <p class="image pr-0 is-32x32">
        <a class="">
            <fa-icon [icon]="Opcao.Icon" size="lg" [pulse]="pulse" class="icon" [ngClass]="EstadoNav.pagina == Opcao.Link? 'is-red' : ''"></fa-icon>
        </a>
    </p>
    <div class="media-content pl-0">
      <div class="content">
        {{Opcao.Titulo}}
      </div>
    </div>
</a>