
a{
    color:darkgray; 
    text-decoration-line: none;
    
    position: relative;
}
p:hover{
    color:darkblue;
}
.nav-icon.tile:first-of-type{
    padding-left: 2rem;
}
.nav-icon{
    width: 100%;
    transition:.52s;
    line-height: initial;
    margin: initial;
}
.border-white{
    outline:1px solid #ccc;
    outline-width: 0rem;
}
.active{
    border-bottom: 1px yellow solid;
    transition: .5s ease-in;
}
.icon{
    color:gray
}
.icon.is-red{
    color: red;
}
.icon.is-red ~ p{
    color: red;
}