a{
    color:black; 
    text-decoration-line: none;
    position: relative;
}
.nav-icon{
    opacity: 1;
    font-size: medium;
    position: relative;
    display: block;
    text-align: center;
    transition: all .14s;
}
/* .nav-icon.active:before, .nav-icon .active:after {
    content: "";
    position: absolute;
    top: -24px;
    right: 0px;
    background: red;
    height: 25px;
    width: 25px;
    transition:.5s !important;
    background: url(/assets/imagens/curve.png);
    display: block;
    background-size: 100% 100%;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
} */
.active, .Active{
    color: #333;
    background: #fff;
    color: var(--primario-default);
}
.icon.is-red{
    color: red;
}
.icon.is-red ~ p{
    color: red;
}

@media (min-width: 320px ) and (max-width: 1023px) {
    
    .nav-icon{
       text-transform: capitalize;
    }
    .nav-icon.active:before, .nav-icon .active:after {
        content: "";
        position: absolute;
        background: initial;
    }
}