<canvas #MobilecanvasEl id="mobile-logo-canvas" class=""></canvas>
<section @fadeIn id="intro" class="intro-block px-3 bg-color1 dark-bg cover-bg" data-selector="section"
    style="
    background:url(assets/imagens/fundos/inicio/connections_banner_with_low_poly_design_2305.jpg);
    background-position: right;
    padding-top: 100px;
    padding-bottom: 150px;
    border-bottom: 0px none rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;"
    alt="Your Icon"
    src="https://blob.contato.io/machine-user-images/ConectaCandidato_fundoTransparente-1-img-3190021-20200820001300.png">
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-selector=".col-md-6">
                <div class="logo">
                    <img alt="ConectaCandidato" src="{{Candidato.FotoCapa}}"
                        height="120" data-selector="img" class="" style="  
                            border-radius: 1rem;
                            border-color: rgb(255, 255, 255);
                            border-style: none;
                            border-width: 7px;">
                </div>
                <div class="container">
                    <button class="download-btn"  mat-raised-button>
                        <img src="assets/imagens/icones/apple.png" class="icon">
                        Disponível <b>App Store</b>
                    </button>
                    <button class="download-btn"  mat-raised-button>
                        <img src="assets/imagens/icones/google-play-store.png" class="icon">
                        Disponível <b>PlayStore</b>
                    </button>
                    <button class="download-btn"  mat-raised-button>
                        <fa-icon [icon]="FaDesktop" size="sm" class="icon icon-screen-smartphone" style="margin-left: -6px"></fa-icon>
                        Disponível <b>Este site</b>
                    </button>
                
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container-half container-half-right contain-bg"
        style="background-image: url(&quot;https://blob.contato.io/machine-user-images/intro-screen2-img-3190021-20200821205046.png&quot;); background-color: rgba(0, 0, 0, 0); background-size: contain; background-attachment: scroll; background-position: center top;"
        data-selector=".container-half"></div> -->
</section>