<section id="intro" class="intro-block bg-color1 dark-bg cover-bg" data-selector="section"
    style="padding-top: 150px;
    padding-bottom: 150px;
    border-bottom: 0px none rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;"
    alt="Your Icon"
    src="https://blob.contato.io/machine-user-images/ConectaCandidato_fundoTransparente-1-img-3190021-20200820001300.png">
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-selector=".col-md-6">
                <div class="logo">
                    <img alt="ConectaCandidato"
                        src="https://blob.contato.io/machine-user-images/desenhando-img-3190021-20200821134124.png"
                        height="120" data-selector="img" class=""
                        style="    width: 380px;
                        height: 200px;
                        border-radius: 1rem;
                        border-color: rgb(255, 255, 255);
                        border-style: none;
                        border-width: 7px;
                        background: #000000;">
                </div>
                <div class="slogan" style="">
                    <h1 data-selector="h1" class=""><strong></strong>.<br><br>
                    </h1>
                </div>
                <div class="slogan" style="">
                    <h2 data-selector="h2" class=""><strong></strong> </h2>
                    <h2 data-selector="h2" class=""></h2>
                </div>
                <div style=""><a class="download-btn" href="#"
                        style="margin-right: 4px; padding-left: 60px; width: 180px; box-shadow: gold 0px 0px 1em;"
                        data-selector="a.btn, a.download-btn, button.btn, a.goto"><i class="icon icon-apple"
                            data-selector=".icon" style="margin-left: -6px;"></i>Disponível<b>App Store</b></a><a
                        class="download-btn" href="#"
                        style="margin-right: 4px; padding-left: 60px; width: 180px; box-shadow: gold 0px 0px 1em;"
                        data-selector="a.btn, a.download-btn, button.btn, a.goto"><i class="icon icon-android"
                            data-selector=".icon" style="margin-left: -6px;"></i>Disponível <b>PlayStore</b></a><a
                        class="download-btn" href="#"
                        style="margin-right: 2px; padding-left: 60px; width: 180px; box-shadow: gold 0px 0px 1em;"
                        data-selector="a.btn, a.download-btn, button.btn, a.goto"><i class="icon icon-screen-smartphone"
                            data-selector=".icon" style="margin-left: -6px"></i><b>Este site</b></a></div>
            </div>
        </div>
    </div>
    <div class="container-half container-half-right contain-bg"
        style="background-image: url(&quot;https://blob.contato.io/machine-user-images/intro-screen2-img-3190021-20200821205046.png&quot;); background-color: rgba(0, 0, 0, 0); background-size: contain; background-attachment: scroll; background-position: center top;"
        data-selector=".container-half"></div>
</section>