.intro-block{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
	position: relative;
} 
.app-opts{
	box-shadow: var(--primario-default) 0px 0px 1em;
}
#mobile-logo-canvas{
	position: absolute;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding:0;
	pointer-events: none;
}
#wrap {
	overflow: hidden;
}

section,
header {
	padding-top: 150px;
	padding-bottom: 150px;
	position: relative;
	overflow: hidden;
	z-index: 1;	
}

/*----------------------------------------------------------------------------------------
						BUTTONS STYLES
-----------------------------------------------------------------------------------------*/

.btn:focus,
.btn:active:focus,
.btn.active:focus {
	outline: 0px auto -webkit-focus-ring-color;
}


.btn {
	font-size: inherit;
	-webkit-transition: all 0.25s ease-in;
	-moz-transition: all 0.25s ease-in;
	-ms-transition: all 0.25s ease-in;
	-o-transition: all 0.25s ease-in;
	transition: all 0.25s ease-in;
}


.download-btn,
.download-btn:hover,
.download-btn:active,
.download-btn:visited {
	display: inline-block;
	position: relative;
	border-radius: 5px;
	color: #fff;
	overflow: hidden;
	background: rgba(0,0,0,0.85);
	text-align: left;
	padding: 15px 25px 12px 75px;
	font-size: 13px;
	line-height: 1.1;
	vertical-align: middle;
	margin-right: 2px; padding-left: 60px; width: 180px; box-shadow: var(--primario-default) 0px 0px 1em;
}

.download-btn b {
	display: block;
	padding-top: 4px;
	font-size: 25px;
	font-weight: lighter;
	white-space: nowrap;
}

.download-btn .icon {
	font-size: 40px;
	position: absolute;
	top: 15px;
	left: 20px;
}

.btn,
.download-btn {
	margin-bottom: 2px;
	margin-top: 2px;
}

/*----------------------------------------------------------------------------------------
						BACKGROUND TYPE STYLES
-----------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------
						TITLE STYLES
-----------------------------------------------------------------------------------------*/

.title {
	margin: 0 0 60px 0;
}

h3.title,
h4.title {
	margin: 0 0 30px 0;
}

h1.sub-title,
h2.sub-title,
h3.sub-title,
h4.sub-title {
	color: #00c0ff;
	margin: 0 0 60px 0;
}

.bg-color2 .sub-title{
	color:#fff;
}

.big-title,
.giant-title,
.mega-title{
	font-size: 70px;
	font-weight: 100;
	text-transform: uppercase;
	margin-bottom: 70px;
}

.giant-title {
	font-size: 110px;
}

.mega-title {
	font-size: 200px;
}

.mega-title .icon{
	font-size:80%;
}

.big-title.zero-bottom,
.giant-title.zero-bottom {
	margin-bottom: 0;
}

.icon {
	margin-right: 10px;
}

.btn .icon {
	vertical-align:middle;
}

.right-icon {
	margin-left: 10px;
	margin-right: 0;
}

.big-icon {
	display: inline-block;
	font-size: 64px;
}

.center-icon {
	margin-right: auto;
	margin-left: auto;
}

.big-right-icon {
	font-size: 64px;
	margin-left: 10px;
	margin-right: 0;
}

.border-block{
	border:1px solid rgba(0,0,0,0.1);
	padding:30px;
}
.dark-bg .border-block{
	border:1px solid rgba(255,255,255,0.5);
}

.text-highlight{
	background:rgba(0,0,0,0.5);
	padding:0 20px;
}

.trans-link a{
    opacity:0.5;
}

.trans-link a:hover{
    opacity:1;
}

@media (max-width: 767px) {
.big-title,
.giant-title {
	font-size: 40px;
}
.mega-title {
	font-size: 100px;
}
}

/*----------------------------------------------------------------------------------------
						TOGGLES STYLES
-----------------------------------------------------------------------------------------*/

.panel {
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	background-color: #fff;
}

a.panel-heading {
	display: block;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	font-weight: bold;
	padding: 20px 60px 20px 25px;
	color: #00c0ff;
	text-align: left;
}

a.panel-heading:after {
	content: "";
	display: block;
	position: absolute;
	top: 31px;
	right: 25px;
	height: 10px;
	width: 10px;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-top: 1px solid rgba(0,0,0,0.2);
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

a.panel-heading.collapsed:after {
	top: 25px;
	border: none;
	border-right: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.panel-body {
	padding: 40px;
}

.dark-bg .panel {
	background-color: #202229;
}

.dark-bg a.panel-heading:after {
	border-color: rgba(255,255,255,0.2);
}

/*----------------------------------------------------------------------------------------
						PRELOADER STYLES
----------------------------------------------------------------------------------------*/

#preloader {
	background: #fff;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	left: 0;
	position: fixed;
	z-index: 9999;
}

#preloader .loading-data {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 36px;
	height: 36px;
	margin: -18px 0 0 -18px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #00c0ff;
	border-top-color: rgba(0,192,255,0);
	-webkit-animation: loader-animation 0.8s infinite linear;
	animation: loader-animation 1s infinite linear;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes 
loader-animation {
 from {
 transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
}

to {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
}
@keyframes 
loader-animation {
 from {
 transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
}

to {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
}

/*----------------------------------------------------------------------------------------
						SCREENS STYLES
----------------------------------------------------------------------------------------*/

.screen {
	max-width: 100%;
	height: auto;
}

.container-half {
	position: absolute;
	width: 50%;
	top: 0;
	bottom: 0;
}

.container-half-right {
	right: 0;
}

.container-half-left {
	left: 0;
}

img.full-height {
	height: 100%;
	width: auto;
}

img.full-width {
	width: 100%;
	height: auto;
}
 @media (max-width: 992px) {

.container-half-right,
 .container-half-left {
	display: none;
}
}

/*----------------------------------------------------------------------------------------
						INTRO STYLES
----------------------------------------------------------------------------------------*/

.intro-block .logo {
	margin: 0 0 80px 0;
}

.intro-block .slogan {
	margin: 0 0 80px 0;
}

.dark-bg .slogan {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

.intro-block .slogan p {
	margin: 50px 0 0 0;
	opacity: 0.7;
}

#big-video-wrap video,
.vjs-control-bar {
	display: none;
}

.intro-blog-block {
	padding: 150px 0 100px 0;
}
 @media (max-width: 992px) {

.intro-block {
	text-align: center;
}

.intro-block .slogan {
	margin: 0 10px 50px 10px;
}
}

/*----------------------------------------------------------------------------------------
						GOTO BLOCK STYLES
----------------------------------------------------------------------------------------*/

.goto-block {
	padding-top: 25px;
	padding-bottom: 25px;
}

a.top-arrow {
	display: inline-block;
	position: relative;
	height: 30px;
	width: 30px;
	border-left: 1px solid #222;
	border-top: 1px solid #222;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	margin-bottom: -20px;
	opacity: 0.5;
}

a.top-arrow:hover {
	margin-bottom: -16px;
	opacity: 1;
}

.dark-bg a.top-arrow {
	border-color: #fff;
}