#inicio{
   
}

.bg-light-transparent{
    background: rgba(123, 123, 123, 0.5);
}

.bg-dark-transparent{
    background: rgba(123, 123, 123, 0.5);
}

.hero.is-medium .hero-body{
    padding: 0em;
}

@media (min-width: 320px) and (max-width: 1023px) {
  
    #main-hero{
        /* background: url("src/assets/imagens/fundos/inicio/.jpg") no-repeat center center fixed; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 2px;
    }
   
    .bg-dark-transparent{
        background: rgba(58, 58, 58, 0.36);
    }
    
}