#main-hero{
    /* background: url("src/assets/imagens/fundos/inicio/.jpg") no-repeat 80% fixed; */
    background-size: cover;
    width: 100vw;
    margin: 0 auto;
}

.hero.is-medium .hero-body{
    padding-top:5rem;
}

.bg-light-transparent{
    background: rgba(123, 123, 123, 0.5);
}

.bg-dark-transparent{
    background: rgba(123, 123, 123, 0.5);
}

@media (min-width: 320px) and (max-width: 1023px) {
  
    #main-hero{
        /* background: url("src/assets/imagens/fundos/inicio/.jpg") no-repeat center center fixed; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 2px;
    }
    
    .hero.is-medium .hero-body{
        padding: 1em;
    }
    .bg-dark-transparent{
        background: rgba(58, 58, 58, 0.36);
    }
    
}