
    <div class="container" uniScrollSpy="inicio" id="inicio">
        <inicio></inicio>
    </div>

    <div class="container" uniScrollSpy="biografia"  data-aos="fade-up" id="biografia">
        <sobre></sobre>
    </div>

    <div class="container" uniScrollSpy="projetos" id="projetos">
        <projetos></projetos>
    </div>

    <div class="container" uniScrollSpy="feed"  data-aos="fade-up" id="feed">
        <contato></contato>
    </div>

    <app-redes-sociais [redes]="redes"></app-redes-sociais>

