
    <div class="container" data-aos="zoom-in-down" uniScrollSpy="inicio" id="inicio">
        <inicio></inicio>
    </div>

    <div class="container" uniScrollSpy="sobre" data-aos="zoom-in-down" id="sobre">
        <sobre></sobre>
    </div>

    <div class="container" uniScrollSpy="projetos" id="projetos">
        <projetos></projetos>
    </div>

    <div class="container" uniScrollSpy="contato"  data-aos="fade-up" id="contato">
        <contato></contato>
    </div>

    <app-redes-sociais [redes]="redes"></app-redes-sociais>

