<div class="contact-section px-6"  data-aos="fade-down">
    <div class="w-100">
        <h1 class="wow fadeInDown" data-wow-delay="0.5s">Entre em contato</h1>
        <p class="wow fadeInDown" data-wow-delay="0.6s">
           {{InformacoesContato?.MensagemDeContato}}
        </p>
        <div class="contact-form " data-aos="fade-down">
            <form id="contact-form">
                <div class="messages"></div>
                <div class="controls">
                    <div class="w-100">
                        <div class="column">
                            <div class="field">
                                <label class="label" for="form_email">Email *</label>
                                <div class="control">
                                    <input id="form_email" type="email" name="email" class="w-100 input"
                                    placeholder="Por favor, insira o seu e-mail *" required="required"
                                    data-error="Insira um e-mail válido.">
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="column">
                            <div class="field">
                                <label class="label" for="form_message">Mensagem *</label>
                                <div class="control">
                                    <textarea id="form_message" name="message" class="w-100 textarea"
                                    placeholder="Mensagem para mim *" rows="4" required="required"
                                    data-error="Deixe sua mensagem."></textarea>
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="w-100">
                            <input type="submit" class="button btn-send" value="Enviar">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>