<nav class="navbar " role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- navbar items, navbar burger... -->
  </div>
  <div class="navbar-menu container">
    <div class="navbar-start">
      <a class="navbar-item underline--magical" [routerLink]="['inicio']" href="#"
        routerLinkActive="Active">
        <figure @fadeIn class="image px-3 py-3 nav-logo">
           <!-- <img src="/assets/imagens/icones/ConectaCandidato_fundoTransparente.png" width="112" height="28" alt="Conecta Candidato"> -->
          {{Candidato.Nome}}
        </figure>
      </a>
      <!-- <a class="navbar-item" *ngFor="let rede of redesSociais"
         href="{{rede.link}}" target="_blank" rel="noopener" title="{{rede.nome}}">
          <figure @fadeIn class="mx-0 image is-32x32">
            <img class="is-rounded" src="{{rede.src}}">
          </figure>
      </a> -->
    </div>
  
    <div class="navbar-end pr-6">
      <a class="navbar-item" *ngFor="let pagina of paginas"
          [ngClass]="paginaAtiva == pagina.Link ? 'nav-active' : ''" pageScroll (click)="ChangeToThis(pagina.Link)"
          [pageScrollOffset]="0" [pageScrollDuration]="300" [routerLink]="[pagina.Link]" href="#{{pagina.Link}}"
          routerLinkActive="Active">
          {{pagina.Titulo}}
        
      </a>
    </div>
  </div>
</nav>
