<section @fadeIn class="section hero-section mt-0" [style.background]="candidato_img">
     
    <h1 class="title is-1 has-text-weight-semibold has-text-white has-text-centered">Sobre?.Nome</h1>
    <h2 class="ls-1 title is-4 has-text-weight-medium has-text-warning has-text-centered">Sobre?.Partido</h2>
    <div class="tile mt-3 is-ancestor">
        <div class="tile is-parent is-12">
            <article class="tile is-child">
                <div class="content">
                    <a rel="noopener" target="_blank" class="mr-0">
                        <p class="mr-0 is-size-3 subtitle underline--magical is-light has-text-weight-medium has-text-white has-text-centered">Sobre?.Partido</p>
                    </a>
                </div>
            </article>
        </div>
    </div>

    <div class="">
        <h6 class="has-text-centered">Acesse:</h6>
        <div class="container columns is-mobile pl-6 mt-6">
            <div *ngFor="let rede of redes">
                
            </div>
        </div>
    </div>

</section>
