<section @fadeIn class="hero is-success is-medium is-fullheight-with-navbar hero-bg" [style.background]="candidato_img">

    <div class="hero-head">
    
    </div>
  
    <div class="hero-body">
      <div class="container has-text-centered">
            <h1 class="title is-1 has-text-weight-semibold has-text-white has-text-centered">Sobre?.Nome</h1>
            <div class="tile mt-3 is-ancestor">
                <div class="tile is-parent is-12">
                    <article class="tile is-child">
                        <div class="content">
                            <a rel="noopener" target="_blank" class="mr-0">
                                <p class="mr-0 is-size-3 subtitle underline--magical is-light has-text-weight-medium has-text-warning has-text-centered">Sobre?.Partido</p>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
      </div>
    </div>
  
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
            <app-redes-sociais [redes]="redes"></app-redes-sociais>
        </div>
      </nav>
    </div>
</section>
