#inicio{
    z-index: 10;
   
}
@media only screen and (max-width : 801px) {
  #inicio{
      /* color: white; */
  }
  :host ::ng-deep .mat-tab-labels {
    margin-top:-65;
    }
    .mat-tab-group {
      margin-top: -95px;
      margin-top: 85%;
  }
    :host ::ng-deep .mat-tab-header {
      margin-top: -19%;
    }
    .mat-tab-group {
      min-height: initial;
  }
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.mat-ripple-element{
    z-index:-1 !important;
  }
  .mat-ripple{
    z-index:50; 
  }
  .mat-tab-group {
    min-height: 80vh;
    width: 100vw;
    background: white;
    padding: 1rem;
}
  :host ::ng-deep .mat-ripple-element {
    z-index:-1 !important;
    max-width: 0;
    display: none;
  }
  :host ::ng-deep .mat-tab-body {
    width: 100%;
  }
  :host ::ng-deep .mat-tab-labels {
    display: flex;
    justify-content: center;
    padding:1rem;
  }
  :host ::ng-deep .mat-tab-label,.mat-ripple .mat-tab-label{
    min-width: 95px;
    max-width: 69px;
    padding:2rem !important;
    background: white;
    font-family: Roboto;
    line-height: 25px;
    color:var(--primary-default);
    font-size: 20px;
    text-align: center;
    transition: .5s all ease-out;
    opacity: 1;
  }
  :host ::ng-deep .mat-tab-label-active{
    background: var(--primary-default);
    color:white;
  }
  :host ::ng-deep .mat-tab-label:first-of-type{
    border-bottom-left-radius:20px;
    border-top-left-radius:20px;
  }
  :host ::ng-deep .mat-tab-label:last-of-type{
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
  }