#inicio{
    z-index: 10;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.mat-ripple-element{
    z-index:-1 !important;
  }
  .mat-ripple{
    z-index:50; 
  }
  .mat-tab-group {
    min-height: 40vh;
    width: 100%;
    position: absolute;
    overflow: scroll;
    max-height: 86vh;
    background: #fff;
    top: 0;
    padding: 1rem;
    margin-top: 70px;
}
:host ::ng-deep .mat-tab-body-wrapper {
  padding-top: 20px;
}

  :host ::ng-deep .mat-ripple-element {
    z-index:-1 !important;
    max-width: 0;
    display: none;
  }
  :host ::ng-deep .mat-tab-body {
    width: 100%;
  }
  :host ::ng-deep .mat-tab-labels {
    display: flex;
    justify-content: center;
    padding:1rem;
  }
  :host ::ng-deep .mat-tab-label,.mat-ripple .mat-tab-label{
    min-width: 95px;
    max-width: 69px;
    padding:2rem !important;
    background: white;
    font-family: Roboto;
    line-height: 25px;
    color:var(--primary-default);
    font-size: 20px;
    text-align: center;
    transition: .5s all ease-out;
    opacity: 1;
  }
  :host ::ng-deep .mat-tab-label-active{
    background: var(--primary-default);
    box-shadow:  10px 10px 60px #d9d9d9, 
             -10px -10px 60px #ffffff;
    color:white;
  }
  :host ::ng-deep .mat-tab-label:first-of-type{
    border-bottom-left-radius:20px;
    border-top-left-radius:20px;
  }
  :host ::ng-deep .mat-tab-label:last-of-type{
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
  }
  
  @media only screen and (max-width : 801px) {
    /* :host ::ng-deep .mat-tab-labels {
      margin-top:-65px;
    } */
    :host ::ng-deep .mat-tab-label:first-of-type{
      border-bottom-left-radius:20px;
      border-top-left-radius:20px;
    }
    :host ::ng-deep .mat-tab-label:last-of-type{
      border-bottom-right-radius:20px;
      border-top-right-radius:20px;
    }
    .mat-tab-group {
      margin-top: 85%;
      overflow: visible;
      max-height: initial;
      position: relative;
    }
    :host ::ng-deep .mat-tab-header {
      margin-top: -19%;
    }
    :host ::ng-deep .mat-tab-label-active{
      box-shadow:  none;  
    }
    :host ::ng-deep .mat-tab-label:first-of-type{
      box-shadow: none;
    }
    :host ::ng-deep .mat-tab-label:last-of-type{
      box-shadow: none;
    }
}

@media only screen and (max-width : 1024px) {
  :host ::ng-deep .mat-tab-header {
    margin-top: 0%;
  }
}