.project-single{
    margin-top:1rem;
    padding-top:1rem;
    margin-left: 10%;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9, 
                -20px -20px 60px #ffffff;
}
@media (max-width: 768px){
    .project-single{
        margin-top:1rem;
        padding-top:1rem;
        margin-left: 0%;
    }
}
.section-head{
    padding-top:1rem;
    color: gray;
    max-width: 400px;
    position: relative;
    margin: auto;
}
.section-head h2 {
    padding: 0;
}
.lke-btn{
    /* margin-bottom: -10px; */
    position: absolute;
    right: 10px;
    left: initial !important;
    /* margin-left: 60%; */
    padding: 10px;
    color: var(--primary-default);
    z-index: 2;
    background: var(--background-default);
    border-radius: 3%;
    transition: 1s all;
    cursor: pointer;
}
.gostou{
    transform:translateX(-5px);
}
.portfolio-item--img img {
    border-radius: 5px;
    overflow: hidden;
    display: block;
    
}
.portfolio-item--desc {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.85);
    border-left:5px solid;
    border-left-color: var(--primary-default);
    border-radius: 5px;
    text-align: center;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.portfolio-item--desc-in{

    font-weight: bolder !important;
}
.portfolio-item--content:hover .portfolio-item--desc {
    opacity: 1;
    visibility: visible;
}
:host ::ng-deep .mat-ripple-element {
    z-index:-1 !important;
    max-width: 0;
    display: none;
  }
.relative{
    position: relative !important;
} 

.padding-left{
    padding-left: 3% !important;
}