<div class="portfolio-split" data-aos="fade-down" >
  
    <div class="portfolio-intro">
      <h1>{{Mensagens?.ApresentacaoProjetos}}</h1>
    </div><!-- Portfolio Start -->

    <div class="portfolio" data-aos="fade-up" >
      <div class="container">
        <div class="section-head">
          <span>O QUE EU FAÇO</span>
          <h2>Meus Projetos</h2>
        </div>
      </div>
      <div class="colums">
        <div class="column is-12">
          <nav class="categories">
            <ul class="portfolio-filter underline--magical">
              <li><a href="" class="active" data-filter="*">Todos</a></li>
              <li><a href="" data-filter=".port"><b>Bem estar social</b></a></li>
            </ul>
          </nav>
        </div>
        <div class="column is-12">
          <div class="row portfolio-container text-center">
            <!-- Person item -->
            <div class="column is-6 custompadding  design">
              <a href="assets/portfolio/1.jpg" data-rel="lightcase" class="portfolio-item">
                <img src="assets/portfolio/1.jpg" alt="image" class="img-responsive" />
                <div class="portfolio-overlay">
                  <div class="overlay-items">
                    <p>
                      Design
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Person item end -->

            <!-- Person item -->
            <div class="column is-6 custompadding  brand ecommerce">
              <a href="project-single.html" class="portfolio-item">
                <img src="assets/portfolio/4.jpg" alt="image" class="img-responsive" />
                <div class="portfolio-overlay">
                  <div class="overlay-items">
                    <p>
                      eCommerce
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Person item end -->

            <!-- Person item -->
            <div class="column is-6 custompadding   webdev ecommerce">
              <a href="project-single.html" class="portfolio-item">
                <img src="assets/portfolio/5.jpg" alt="image" class="img-responsive" />
                <div class="portfolio-overlay">
                  <div class="overlay-items">
                    <p>
                      eCommerce
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Person item end -->

            <div class="column is-6 custompadding  port">
              <a href="project-single.html" class="portfolio-item">
                <img src="assets/portfolio/6.jpg" alt="image" class="img-responsive" />
                <div class="portfolio-overlay">
                  <div class="overlay-items">
                    <p>
                      Branding
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Person item end -->

            <!-- Person item -->
            <div class="column is-6 custompadding  brand ecommerce">
              <a href="project-single.html" class="portfolio-item">
                <img src="assets/portfolio/8.jpg" alt="image" class="img-responsive" />
                <div class="portfolio-overlay">
                  <div class="overlay-items">
                    <p>
                      Branding
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Person item end -->

            <div class="column is-6 custompadding  port">
              <a href="project-single.html" class="portfolio-item">
                <img src="assets/portfolio/9.jpg" alt="image" class="img-responsive" />
                <div class="portfolio-overlay">
                  <div class="overlay-items">
                    <p>
                      Portfolio
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Person item end -->

         
          </div>
        </div>
      </div>