.card{
    box-shadow:  20px 20px 60px #d9d9d9, 
             -20px -20px 60px #ffffff;
}
.portfolio-item--img img {
    overflow: hidden;
    display: block;
}
.portfolio-item--desc {
    position: relative;
    font-family: Roboto;
    border-left:5px solid;
    border-radius: 5px;
    border-left-color: var(--primary-default);
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.lke-btn{
    color: var(--primary-default);
    transition: 1s all;
    cursor: pointer;
}
.like-number{
    opacity: 0.5;
}
.gostou{
    transform:translateX(-5px);
}
.card-content {
    padding: 0;
}
.card-footer-item {
    justify-content: flex-end;
    padding-right: 1rem;
}
.portfolio-item--content:hover .portfolio-item--desc {
    opacity: 1;
    visibility: visible;
}

.portfolio-item--content {
    display: block;
    position: relative;
}

.mb-2 .has-text-dark  {
    border-bottom: 1px solid grey;
}
.portfolio-item--desc-in{
    font-size: 18px;
    display: block;
    padding: 1rem;
}
.portfolio-item--desc-in h3 {
    font-size: 18px;
}

.portifolio-filter{
    margin-top: -22px;
}
.section-head{
    margin-top:50px;
}
.section-head h2 {
    padding: 0;
}
.section {
    padding: 0rem 1.5rem;
    border-radius: 15px;
}
.shuffle-item{
    position: absolute; top: 0px; left: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1; transition: transform 250ms ease-out 0s, opacity 250ms ease-out 0s;
}
.section-dark, .section-light .b-box {
    
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}
.filter a.active {
    border-color: #5493f7;
    color: #333;
}

.text-black {
    color: #0000!important;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;

}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.filter a {
    padding: 10px 25px;
    display: block;
    cursor: pointer;
    text-transform: capitalize;
    border-bottom: 4px solid transparent;
}
.hidden-content{
    transition:all .5s ease-in;
}
.hidden-content .open{
    display: block;
}