.intro{
    padding-left:30px;
}
.about-avatar img {
    height: 100px;
    width: 100px;
}
@media (min-width: 320px) and (max-width: 1023px) {

    .right-column{
        padding: inherit;
    }
    .hero-head{
        background: none;
        width: 100%;
        background-size: cover;
    }
    .hero-bg{
        margin: 2rem auto;
        /* background:#141828; */
    }
}
