.bring-down_170{
    position: relative;
    margin: 0 auto;
}
.icones-redes{
    position: relative;
    margin: 0 auto;
    display: flex;
    padding: 0;
    justify-content: center;
    background: var(--background-default);
    transition:.3s;
    
   padding:5px 0;
}
a{
    width: 64px;
}
.tabs.is-boxed a {
   transition:.3s;
   padding:5px 0;
}
.tabs.is-boxed a:hover {
    bottom:1px;
    position: relative;
}
@media only screen and (max-width : 801px) {
    
}
