<section class="section section-light section-work" id="work">
  <div class="container">
    <div class="section-head">
      <h2>Nossos trabalhos</h2>
    </div>
    <div class="mt-4">
      <div class="portfolio wow fadeInDown">
        <div class="row">
          <div class="col-md-12">
            <nav class="categories">
              <ul class="portfolio-filter">
                <li><a class="active" data-filter="*">Todos</a></li>
                <li><a [attr.data-filter]="'.'+categoria.replace(' ','')" *ngFor="let categoria of categorias">{{categoria}}</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-md-12">
            <div class="row portfolio-container text-center">

               <!-- Person item -->
               <div class="col-md-6 col-sm-6 custompadding  brand" [ngClass]="projeto.Categoria? projeto.Categoria.replace(' ',''): ''" *ngFor="let projeto of Projetos">
                <a [routerLink]="['/projeto/'+projeto.Identificador]" class="portfolio-item--content">
                  <div class="portfolio-item--img b-box">
                    <img src="{{projeto.FotoSrc}}"  class="img-fluid mx-auto" alt="work-img">
                  </div>
                  <div class="portfolio-item--desc d-flex justify-content-center align-items-center">
                    <div class="portfolio-item--desc-in">
                      <h3 class="mb-2 text-white">{{projeto.Nome}}</h3>
                      <p class="text-white">{{projeto.Categoria}}</p>
                    </div>
                  </div>
                </a>
              </div>
              <!-- Person item end -->

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

     