

.about {
	padding-top: 0px !important;
}
.section-head{
    padding: 0 2rem;
    text-align: justify;
}
.about .about-intro h4 {
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	color: #A1A1A1;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

.about .about-intro h1 {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	color: #222222;
	line-height: 1.4;
}

.about img {
	margin: 30px 0 30px 0;
}

.about-details {
	overflow: hidden;
}
/*
.about-details p {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	color: #222222;
	line-height: 1.4;
}*/

.about-details .work-list {
	padding: 10px 0 0 0;
	overflow: hidden;
}

.about-details .work-list i {
	font-size: 42px;
	text-align: center;
}

.about-details .work-list p {
	font-family: Roboto;
	font-size: 14px;
	text-align: center;
	line-height: 1.4;
	margin: 20px 0 20px 0;
}

.about-details .col-sm-4 {
	background: #e6e6ff;
	padding: 20px 20px 20px 20px;
}

.about-details .col-sm-4:nth-child(2) {
	background: #ffcccc;
}


.about .experience h4 {
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	color: #A1A1A1;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

.about .experience h1 {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	color: #222222;
	line-height: 1.4;
}

.about .experience ul {
  padding: 50px 0 0 0;
}

.about .experience li {
  margin-bottom: 30px;
	background: rgba(230, 230, 255, 0.5);
	padding: 20px;
	
    border-left:5px solid;
    border-radius: 5px;
    border-left-color: var(--primary-default);
}

.about .experience h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  color: #666666;
	text-align: left;
  letter-spacing: 0px;
  line-height: 1.2;
}

.about .experience li p {
  font-family: Roboto;
  font-size: 14px !important;
  font-weight: 300;
  color: #444444;
  margin: 20px 0 10px 0;
	line-height: 1.4;
}

.experience li p {
  font-family: Roboto;
  font-size: 14px;
  text-indent: 20px;
  /* letter-spacing: 1px; */
}

.normal {
	font-family: Roboto;
	font-size: initial;
	text-indent: 20px;
	/* letter-spacing: 1px; */
}

.about .cta {
	padding: 30px 0 30px 0;
}

.about .cta p {
	font-family: Roboto;
	font-size: 21px;
	font-weight: 600;
	color: #454545;
	text-align: left;
}
@media only screen and (max-width : 1024px) {
	.about .experience ul {
		padding: 0px 0 0 0;
	  }
}

