.column .is-8{
    padding-top:140px;
}

.columns.is-mobile>.column.is-6 {
    flex: none;
    width: 50%;
    height: 100vh;
}

.scroller{
    max-height: 100vh;
    overflow-y: scroll;
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 80%;
    display: flex;
}