<clr-main-container>
    <clr-header class="header-1">
        
        <navbar [Titulo]="title"></navbar>
        
    </clr-header>
    <!-- <secondary-nav class="is-hidden-desktop"></secondary-nav> -->

    <div class="content-container">
        
        <main class="content-area">
            <div [@routeAnimations]="prepareRoute(outlet)" class="main">
                <router-outlet #outlet="outlet"></router-outlet>
                <app-footer></app-footer>
            </div>   
        </main>

        <nav class="sidenav" [clr-nav-level]="2">
            <app-side-nav></app-side-nav>
        </nav>
    </div>
    
    <app-scroll-top></app-scroll-top>
</clr-main-container>
