.split-home,.wrapper{
    background: var(--foreground-secondary);
    padding:0 2rem;
}
.main {
    background: var(--background-default);
    transition: 0.5s;
    text-align: justify;
    min-height: 100vh;
    font-family: Roboto;
}
.left-section{
    opacity: 0;
    position: relative;
    overflow: hidden;
    /* margin: 0 auto; */
    width: 100%;
    margin: 0 auto;
    padding: 0px 20rem;
    /* border-bottom: 2rem solid var(--primary-default); */
    height: 400px;
    background-origin: padding-box;
    background-position: right !important;
    animation: fade-in 5s ease-in-out forwards;
    background: var(--background-default);
}
.right-section{
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    min-height: 100vh;
    width: 100%;
    overflow: visible;
    animation: to-left 2s ease-in-out forwards;
   
}
.left-section-candidato{
    width: 100%;
    height: 30%;
    border:0;
    box-shadow: 5px 10px 5px #00000047;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: left !important;
    /* border-top-right-radius: 48px; */
    margin:0;
    padding: 0rem;
    position: fixed;
    animation-name: fade-in;
    top: 0;
    z-index: 2;
}

.floating2:hover{
    left:5px;
    bottom:2px;
}
.bar{
    top: 304px;
    z-index: 3;
    width: 90%;
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.partido-text{
    position: RELATIVE;
    color: var(--background-default);
    background: var(--primary-default);
    padding: 0.5REM;
    border-radius: 50%;
    cursor: default;
    width: max-content;
}
.partido-text:hover{
   left:5px;
   bottom:2px;
}
.partido-logo{
    z-index: 3;
    position: relative;
    width: 100%;
    padding-right: 0px;
    right: 0;
}

#logo-canvas{
    /* position: fixed; */
    position: absolute;
    z-index: 2;
    height: 100%;
    pointer-events: none;
    border-top-right-radius: 48px;
}
#mobile-logo-canvas{
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: 13px 10px 5px #00000047;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: left !important;
    border-top-right-radius: 48px;
    margin: 0;
    padding: 0rem;
    position: absolute;
    animation-name: fade-in;
    top: 0;
    z-index: 2;
}

.typing{
    position: relative;
    max-width: 92%;
}
#nav-menu{
    width: 50%;
    transition: all 0.5s;
    font-family: Roboto,sans-serif;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
@media only screen and (max-width : 801px) {
    #nav-menu{
        width: max-content;
    }
    #logo-canvas{
        position: absolute;
        z-index: 5;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding:0;
    }
    .split-home,.wrapper{
        padding:0;
    }
    .main {
        border-radius: 5px;
        border-bottom-right-radius:0 ;
        border-bottom-left-radius: 0;
        border-top-left-radius: 6px;
        padding:0;
        padding-left:initial;
        background: var(--background-default);
    }
    .left-section{
        margin: 0;
        width: 100%;
        height: 100%;
        min-height: initial;
        border:0;
        border-top-right-radius: 48px;
        padding: 0rem;
    }
    .right-section{
        margin-left: 0;
        width: 100%;
        /* margin-top: 406px; */
        border-radius: 100px;
        padding: 0;
        z-index: 2;
   }
   .typing{
        color: var(--primary-default);
        background: var(--background-default);
        font-weight: bold;
        font-size: 1.5rem !important;
        border-radius: 1.5rem;
   }
   .conecta-candidato-logo{
   }
   
   .bar{
        top: 346px;
        position: absolute;
        display: flex;
        width: 90%;
        z-index: 3;
        justify-content: center;
   }
    .app-scrolldown{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }
}

.main .is-active{
    transition:.51s all !important;
}




.left{
    float: left;
}
.typing{
    color: white;
    background: #111111;
    font-weight: bold;
    font-size: 2.25rem;
    margin: 19px 9px;
    left: 0;
}
.app-scrolldown{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ngx-typed-js{
    margin:0 auto;
}
.flex-center{
    width: 100vw;
    margin: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    height: 100%;
    padding: 0;
}
@keyframes to-left{
    0%{
        transform: translateX(50vw);
        transform: rotateX(5deg);
        opacity: 0;
    }

    100%{
        transform: rotateX(0deg);
        transform: translateX(0vw);
        opacity: 1;
    }
}
@keyframes to-right{
    0%{
        transform: translateX(-50vw);
        opacity: 0;
    }

    100%{
        transform: translateX(0vw);
        opacity: 1;
    }
}
/* .floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.floating2{
    animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay:1s;
} */