
#logo-canvas{
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 50%;
    pointer-events: none;
    border-top-right-radius: 48px;
    z-index:2;
}
#mobile-logo-canvas{
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: 13px 10px 5px #00000047;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: left !important;
    border-top-right-radius: 48px;
    margin: 0;
    padding: 0rem;
    position: fixed;
    top: 0;
    z-index: 0;
}
.center-section{
    /* opacity: 0; */
    position: fixed;
    width: 50%;
    height: 100%;
    /* opacity: 0; */
    border-top-right-radius: 48px;
    background-origin: padding-box;
    background-position: right !important;
    z-index: 0;
}

.center-section-candidato{
    border: 0;
    box-shadow: 7px 7px 40px rgba(0,0,0,.28);
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: top!important;
    border-top-right-radius: 48px;
    margin: 0 auto;
    position: fixed;
    width: 99%;
    height: 100%;
    padding: 0;
    top: 0;
    z-index: -1;
}

.bar{
    padding: 1rem;
    height: 25%;
}

  .partido-logo{
    width: 110px;
  }
@media only screen and (max-width : 1024px) {
    .typing-animation{
        top: 200px;
        bottom:initial;
   }
   .typing{
        color: white;
        font-weight: bold;
        font-size: 1.5rem !important;
        border-radius: 1.5rem;
   }

    #logo-canvas{
        position: absolute;
        z-index: 5;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding:0;
    }
    .center-section{
        margin: 0;
        width: 100%;
        height: 100%;
        border:0;
        /* border-top-right-radius: 48px; */
        padding: 0rem;
    }
    .center-section-candidato-img{
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: auto;
        background-position: top !important;
        background: linear-gradient(#004092, #020202, transparent);
        box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
        border-top-right-radius: 0;
    }
    .center-section-candidato{
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: top !important;
        position: fixed;
        height: initial;
        width:100%;
        background: linear-gradient(#004092, #020202, transparent);
        box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
        border-top-right-radius: 0;
    }
    .center-section-candidato::after {
        display: block;
        position: relative;
        background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #424242 100%);
        height: 77vh;
        width: 100%;
        content: '';
      }
    
    .floating {  
        animation: none;
    }
    .floating2{
        animation: none;
    }
}
