<canvas #canvasEl id="logo-canvas" class="center-section is-hidden-touch"></canvas>
<!-- <canvas #MobilecanvasEl id="mobile-logo-canvas" class="is-hidden-desktop"></canvas> -->


<section @slideInOut #canvasContainer class="center-section">
    
    <ngx-typed-js data-aos="flip-up" [startDelay]="1000" [backSpeed]="1"
        [typeSpeed]="30" [strings]="[ObterNomeCandidato()]" class="typing-animation is-hidden-touch">
        <span class="typing"></span>
    </ngx-typed-js>


    <div class="center-section-candidato" style="background:url({{candidato_bg}})" >
        <div class="bar">
            <figure class="columns is-gapless is-mobile is-vcentered partido-section ">
                <div class="column" data-aos-offset="-200" data-aos-anchor-placement=".center-section-candidato"
                    data-aos="zoom-in-left">
                    <!-- <h1 class="title is-3 partido-text">{{Candidato?.numeroCampanha}}</h1> -->
                </div>
                <div class="column " data-aos-offset="-200" data-aos-anchor-placement=".center-section-candidato"
                    data-aos="zoom-in-right">
                    <img width="50" src="{{ObterCaminhoIconeConectaCandidato()}}"
                        class="conecta-candidato-logo rounded-full is-hidden-touch">
                </div>
                <div class="column z-top">
                    <a [routerLink]="['/inicio']" href="#inicio" routerLinkActive="Active"
                        data-aos-offset="-200" data-aos-anchor-placement=".center-section-candidato"
                        data-aos="zoom-in-right">
                        <img width="100" src="{{ObterCaminhoIconePartido()}}" class="partido-logo">
                    </a>
                </div>
            </figure>
        </div>
    </div>


   



</section>