.section-about{
    margin: 0 auto;
    z-index: 100;
    position: relative;
    transition: 0.5s;
    padding: 0 !important;
    margin-bottom:-20px;
}
.section-head{
    padding: 0 2rem;
    text-align: justify;
    font-size: medium;
}
.section-about-wrap {
    padding: 2REM;
    box-shadow:  20px 20px 60px #d9d9d9, 
             -20px -20px 60px #ffffff;
}
@media (max-width: 768px){
.about-social a.downloadCV {
    line-height: 40px;
    padding: 0 14px;
}
.section-about{
    margin-bottom:20px;
}
}
.about-social a {
    display: block;
    border-radius: 15px;
    background: #62677e;
    line-height: 52px;
    color: #fff;
}
@media (max-width: 768px){
.about-social a {
    height: 40px;
    width: 40px;
    line-height: 40px;
}
}
.about-desc-info {
    padding-bottom: 20px;
}
.about-desc-info b {
    padding-right: 10px;
}
b, strong {
    font-weight: 500;
}
.about-desc-info a, .about-desc-info span {
    font-size: 16px;
    color: var(--background-dark);
    font-weight: 400;
}

.box{
    box-shadow:  20px 20px 60px #d9d9d9, 
             -20px -20px 60px #ffffff;
             position: relative;
             font-family: Roboto;
             border-left:5px solid;
             border-radius: 5px;
             border-left-color: var(--primario-default);
             -webkit-transition: all .3s ease-in-out 0s;
             -moz-transition: all .3s ease-in-out 0s;
             -ms-transition: all .3s ease-in-out 0s;
             -o-transition: all .3s ease-in-out 0s;
             transition: all .3s ease-in-out 0s;
}