.intro{
    padding-left:30px;
    text-indent: 20px;
    text-align: justify;
}

.fixed-right{
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    max-height: 100vh;
    width: 50%;
    margin-left: 50%;
    overflow: scroll;
    animation: to-left 2s ease-in-out forwards;
}
.fixed-left{
    position: fixed;
    width: 50%;
    /* margin: 14px 15px; */
    /* height: 97%; */
    border-top-right-radius: 48px;
    /* padding: 2rem; */
    background-origin: padding-box;
    background-position: right !important;
    animation: fade-in 5s ease-in-out forwards;
}

.about-avatar img {
    height: 100px;
    width: 100px;
    border-bottom:8px solid;
    border-color:  var(--primary-default);
}
@media (min-width: 320px) and (max-width: 1023px) {
    .intro{
        padding-left:0px;
    }
    .right-column{
        padding: inherit;
    }
    .hero-head{
        background: none;
        width: 100%;
        background-size: cover;
    }
    .hero-bg{
        margin: 2rem auto;
        /* background:#141828; */
    }
}
.hero{
    background:var(--pri)
}



.informacao-candidato{
    position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(255,255,255,0) 100%);
    bottom: 74px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: -webkit-max-content;
    height: max-content;
    z-index: 5;
}

.logo-campanha{
    color:var(--primary-default);
    size:var(--logo-campanha-size);
    margin:var(--logo-campanha-margin);
}
.numero-campanha{
    color:var(--numero-campanha-color);
    size:var(--numero-campanha-size);
    margin:var(--numero-campanha-margin);
}
.section-about{
    margin: 0 auto;
    z-index: 100;
    position: relative;
    transition: 0.5s;
    padding: 0 !important;
    min-width: 60vw;
    margin-bottom:-20px;
}
.section-about-wrap {
    padding: 2REM 2rem 0rem 2rem;
    
}
.about-social a.downloadCV {
    width: auto;
    line-height: 47px;
    padding: 0 10px;
}
.about-social a {
    display: block;
    border-radius: 15px;
    background: #62677e;
    font-size: 20px;
    line-height: 52px;
    color: #fff;
}
@media (max-width: 768px){
.about-social a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 16px;
}
}
.about-desc-info {
    padding-bottom: 20px;
}
.about-desc-info b {
    padding-right: 10px;
    font-size: 18px;
}
b, strong {
    font-weight: 500;
}
.about-desc-info a, .about-desc-info span {
    font-size: 16px;
    color: var(--background-dark);
    font-weight: 400;
}