<div class="is-hidden-desktop no-y-scroll">
    <app-exibicao-candidato-full></app-exibicao-candidato-full>
    
    <div class="informacao-candidato">
        <div >
            <h1 class="title is-1 logo-campanha">Sua Logo</h1>
        </div>
        <div >
            <h1 class="title is-1 numero-campanha">{{Candidato.NumeroCampanha}}</h1>
        </div>
        <app-redes-sociais></app-redes-sociais>
    </div>

</div>


<div class="is-hidden-touch">
   
    <div class="">
        
        <div class="fixed-left">
            <app-exibicao-candidato-full></app-exibicao-candidato-full>
        </div>

        <div class="fixed-right">
            <div class="container" data-aos="zoom-in-down" uniScrollSpy="inicio" id="inicio">
                <apresentacao-candidato></apresentacao-candidato>
            </div>

            <div class="container" data-aos="zoom-in-down" uniScrollSpy="sobre" id="sobre">
                <app-biografia-preview></app-biografia-preview>
            </div>

            <div class="container" data-aos="zoom-in-down" uniScrollSpy="projetos" id="projetos">
                <app-propostas-preview></app-propostas-preview>
            </div>

            <div class="" data-aos="fade-up" uniScrollSpy="contato"  id="contato">
                <contato></contato>
            </div>

            <app-redes-sociais [redes]="redes"></app-redes-sociais>
        </div>

    </div>

</div>
