
body { margin: 0;font-family: var(--clr-h1-font-family, Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif);}
body{
    background: #ccc;
}
@media (min-width: 320px) and (max-width: 1023px) {
  
    body{
        overflow-x: hidden;
    }
    
}
.mat-typography h1{
    font-family: var(--clr-h1-font-family, Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif);
}
.bg-light-transparent{
    background: rgba(123, 123, 123, 0.5) !important;
}