@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

:root {
  /* Dominio */

  --logo-campanha-size: 30px;
  --logo-campanha-margin: 10px auto;

  --numero-campanha-color: yellow;
  --numero-campanha-size: 30px ;
  --numero-campanha-margin: 0 0 10px 0;

  
  --primary-default: orange;
  --primary-dark: #24b286;
  --primary-light: #b2ffe7;

  /* Colors */
  --foreground-default: #08090a;
  --foreground-secondary: #41474d;
  --foreground-tertiary: #797c80;
  --foreground-quaternary: #f4faff;
  --foreground-light: #41474d;

  /* --background-default: #f4faff; */
  --background-default: #ffffff;
  --background-secondary: #a3b9cc;
  --background-tertiary: #5c7d99;
  --background-light: #ffffff;

  --error-default: #ef3e36;
  --error-dark: #800600;
  --error-light: #ffcecc;


  --cor-texto-partido:yellow;
  /* Shadows */
  --background-tertiary-shadow: 0 1px 3px 0 rgba(92, 125, 153, 0.5);
}
.tem-cor-primaria{
  color:var(--primary-default) !important;
}
.no-y-scroll{
  overflow-y: hidden;
}
.blur{
  filter: blur(10%);
}
.left-section-candidato{
  width: 100%;
  /* height: 100%; */
  border:0;
  box-shadow:  20px 20px 60px #d9d9d9, 
             -20px -20px 60px #ffffff;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  /* border-top-right-radius: 48px; */
  margin:0;
  padding: 0rem;
  position: fixed;
  top: 0;
  z-index: 2;
}
.right-section{
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  /* width: 94%; */
  overflow: visible;
}
.split-home{
  background: var(--background-default);
}
.main {
  background: var(--background-default);
  transition: 0.5s;
  text-align: justify;
  min-height: 100vh;
  min-height: 96vh;
  width: 100vw;
  font-family: Roboto;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width : 801px) {

  .right-section{
      margin-left: 0;
      width: 100%;
      /* margin-top: 85%; */
      border-radius: 100px;
      padding: 0;
      z-index: 2;
 }
 .main {
    padding-left:initial;
    /* border-radius: 55px; */
    min-height: 92vh;
    border-bottom-right-radius:0 ;
    border-bottom-left-radius: 0;
    border-top-left-radius: 6px;
    background: var(--background-default);
}

}

.typed-cursor.typed-cursor--blink {
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
.typing {
  text-shadow: 2px 2px 60px rgba(37, 35, 35, 0.99);
  font-weight: bold;
}
.section {
  padding: 3rem 1.5rem;
  border-radius: 15px;
}
.app-loading {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    margin: auto;
    transition: .5s all;
}

.app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
  
.app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #ddd;
}
.app-loading div.logo {
      background: url(src/assets/imagens/icones/ConectaCandidato_fundoTransparente.png) center center no-repeat;
      background-size: contain;
      width:150px;
      height:150px;
      margin: auto;
      position: static;
      /* margin: 12px; */
      border-radius: 50%;
}
    

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
body {
  background: var(--background-default);
  font-family: 'Open Sans', sans-serif;
}
.fixed{
    position: fixed;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: initial;
  /* font-family: "PT Sans", sans-serif; */
}

body { 
    margin: 0;
}

@media (min-width: 320px) and (max-width: 1023px) {
  
    body{
        overflow-x: hidden;
    }
    
}
.underline--magical {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

.underline--magical:hover {
    background-size: 100% 88%;
}
.mx-auto{
    margin:0 auto;
}
.w-100{
    width:100%;
    position: relative;
}
.rounded-full{
    border-radius: 50%;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

@keyframes floating {
  from { transform: translate(0,  0px); transform: rotate(0deg);}
  65%  { transform: translate(0, 5px); }
  to   { transform: translate(0, -0px); }    
}
@keyframes floating2 {
  from { transform: translate(0,  0px); transform: rotate(0deg);}
  65%  { transform: translate(0, 3px); }
  to   { transform: translate(0, -0px);  }    
}