
body { margin: 0;font-family: var(--clr-h1-font-family, Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif);}
body{
    background: #ccc;
}
@media (min-width: 320px) and (max-width: 1023px) {
  
    body{
        overflow-x: hidden;
    }
    
}
.underline--magical {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

.underline--magical:hover {
    background-size: 100% 88%;
}
  
.mat-typography h1{
    font-family: var(--clr-h1-font-family, Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif);
}
.bg-light-transparent{
    background: rgba(123, 123, 123, 0.5) !important;
}
.mx-auto{
    margin:0 auto;
}
.w-100{
    width:100%;
    position: relative;
}
.header-hamburger-trigger>span::after,.header-hamburger-trigger>span::before,.header-hamburger-trigger>span{
    color:grey
}
.header-hamburger-trigger>span::after {
    display: inline-block;
    height: .2rem !important;
    width: 1.5rem !important;
    margin: 0px 0px;
    background: #fff;
    background: white;
    border-radius: .15rem;
    border-radius: var(--clr-responsive-nav-hamburger-border-radius, 0.15rem);
  }
  
.about-desc-more {
    padding: 30px 30px 10px;
}
.b-box {
    background: #1c1f2f;
    border-radius: 30px;
    border: 1px solid #2e344d;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}