<section class="section section-about in" >
    <div class="section-head" >
        <h2 class="tem-cor-primaria">Penso em que?</h2>
    </div>

    <div class="section-about-wrap">
        <ol class="">
            
            <li class="box"  *ngFor="let ideal of Ideais">
                <p class="subtitle">{{ideal?.Titulo}}</p>
            </li>

        </ol>
        <div class="cta">
            <p>
                
            </p>
            <a class="btn btn-contact" [routerLink]="['/propostas']"
            routerLinkActive="Active"> Minhas propostas</a>
        </div>
    </div>

</section>

      