
.left-section{
    opacity: 0;
    position: fixed;
    width: 50%;
    /* border-top-right-radius: 48px; */
    background-origin: initial;
    background-position: 100%!important;
    animation: fade-in 5s ease-in-out forwards;
}

.left-section-candidato{
    width: 100%;
    height: 100%;
    border:0;
    box-shadow: 13px 10px 5px #00000047;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    /* border-top-right-radius: 48px; */
    margin:0;
    padding: 0rem;
    position: fixed;
    animation-name: fade-in;
    top: 0;
    z-index: 2;
    animation: to-left 1s ease-in forwards;
}

.typing-animation{
    bottom: 200px;
    z-index: 3;
    margin-left: .5rem;
    font-size: 3rem !important;
    /* background:rgba(0,0,0,.5); */
    position: fixed;
    font-family: Roboto;
    width: 92%;
    /* text-decoration-color: aquamarine; */
    display: flex;
    justify-content: flex-start;
}
:host ::ng-deep .typed-cursor.typed-cursor--blink {
    display: none !important;
}
.bar{
    bottom: 150px;
    z-index: 2;
    position: fixed;
    height: 70px;
    width: 37%;
    display: flex;
    justify-content: flex-start;
}
.partido-logo{
    z-index: 3;
    position: relative;
    bottom:20px;
    width: 100%;
    padding-right: 0px;
    right: 0;
}
.partido-text{
    position: RELATIVE;
    color: var(--background-default);
    color: var(--cor-texto-partido);
    /* background: var(--primary-default); */
    padding: 0.5REM;
    text-shadow: 2px 2px 30px rgba(37, 35, 35, 0.99);
    border-radius: 50%;
    font-size: 3rem;
    cursor: default;
    width: max-content;
}
.partido-text:hover{
   left:5px;
   bottom:2px;
}
.floating2:hover{
    left:5px;
    bottom:2px;
}


@media only screen and (max-width : 801px) {
    
    #logo-canvas{
        position: absolute;
        z-index: 5;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding:0;
    }
   .typing-animation{
        top: 240px;
        bottom:initial;
   }
   .typing{
        color: white;
        font-weight: bold;
        
        font-size: 1.5rem !important;
        border-radius: 1.5rem;
   }

   .conecta-candidato-logo{
   }
   
   .bar{
        top: 0;
        margin-top: 85%;
        padding-bottom: 70px;
        position: absolute;
        display: flex;
        width: 100%;
        z-index: 3;
        justify-content: center;
        background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(255,255,255,0) 100%);
   }
   
    .left-section{
        margin: 0;
        width: 100%;
        height: auto;
        border:0;
        /* border-top-right-radius: 48px; */
        padding: 0rem;
    }
    .left-section-candidato-img{
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: auto;
        background-position: center !important;
        background: linear-gradient(#004092, #020202, transparent);
        box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
        border-top-right-radius: 0;
    }
    .left-section-candidato{
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        background: linear-gradient(#004092, #020202, transparent);
        box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
        border-top-right-radius: 0;
    }
    .left-section-candidato::after {
        display: block;
        position: relative;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
        margin-top: -150px;
        height: 150px;
        width: 100%;
        content: '';
      }
    .partido-text{
        font-size: x-large;
    }
    .floating {  
        animation: none;
    }
    .floating2{
        animation: none;
    }
}

#logo-canvas{
    position: fixed;
    z-index: 2;
    height: 100%;
    pointer-events: none;
    border-top-right-radius: 48px;
}
#mobile-logo-canvas{
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: 13px 10px 5px #00000047;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: left !important;
    border-top-right-radius: 48px;
    margin: 0;
    padding: 0rem;
    position: fixed;
    animation-name: fade-in;
    pointer-events: none;
    top: 0;
    z-index: 2;
}